@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* ::::: Primary ::::: */

:root {
  --color-page: #e9ecef;
  --color-primary: #000000;
  --color-accent: #000000;
  --link-color: #0060df;
  --link-hover-color: #0060df;
  --radius: 4px;
  --max-distance: 1366px;
  --list-button-size: 120px;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-page);
  background-repeat: no-repeat;
}

.throbber {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("throbber.gif");
}

/* ::::: Content: Box Layout ::::: */

body,
section {
  margin: 0;
  padding: 0;
}

.content-layout {
  padding: 0;
}

.box-inner {
  margin: 18px 24px;
}

/* ::::: Header ::::: */

#page-header {
  font-size: 1.5em;
  color: var(--color-primary);
  background-color: #20123a;
  padding: 1em 1em 0 1em;
}

#page-header-inner {
  transition: margin-bottom 250ms;
  margin-bottom: -30px;
}

#page-header-logo {
  background-image: url("header_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 45px;
}


#page-header-search > #q {
  width: 170px;
  border:	1px solid transparent;
  border-radius: var(--radius);
  background: #ffffff;
  font-size: 14px;
  padding: 4px 12px;
}

#page-header-search > #q:hover,
#page-header-search > #q:focus {
  background: #fff;
}

#page-header-search > #q:focus {
  border-color: #00feff;
  box-shadow: inset
              0 0 0 1px #0a84ff,
              0 0 0 1px #0a84ff,
              0 0 0 4px rgba(10, 132, 255, .3);
}

#page-header-search > #submit {
  display: none;
}

/* ::::: Navigation ::::: */

#page-nav ul {
  justify-content: center;
}

#page-nav ul > li a {
  display: block;
  padding: 4px 10px;
  color: #b1b1b3;
  font-size: 0.65em;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin: 6px 4px;
}

#page-nav ul > li a:focus,
#page-nav ul > li a:hover {
  border-color: #b1b1b3;
}

#page-nav ul > li a.active {
  color: #ffffff;
  border-color: #ffffff;
}

#page-nav ul > li a#menu-home {
  display: none;
}

/* ::::: Footer ::::: */

footer {
  background: #051818;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer :is(a, a:hover) {
  color: #ffffff;
}

/* ::::: Buttons ::::: */

.button {
  border-radius: var(--radius);
  background: #0060df;
  width: 120px;
  height: 21px;
  padding: 10px;
}

.button:hover {
  background: #003eaa;
}

.button:hover:active {
  background: #002275;
}

.button,
.button:is(:hover, :active, :hover:active, :visited) {
  color: #ffffff;
}

.button > .button-icon {
  display: none;
}

.button.disabled {
  background-color: #D8D8D8;
}

/* ::::: Lists ::::: */

.search-header,
.island,
.list-wrapper {
  background: #ffffff;
  border-radius: calc(var(--radius) * 3);
  padding: 24px;
}

.search-header,
.list-wrapper:not(:last-child) {
  margin-bottom: 24px;
}

.list-wrapper:not([has-pagination]) {
  padding-bottom: 0;
}

.list > .list-item {
  margin: 0 -24px;
  padding: 1em 24px;
  border-bottom: 1px solid var(--color-page);
}

.list > .list-item:last-child {
  border-bottom: none;
}

.list-item > .list-item-body .list-item-title {
  font-weight: 500;
}

.list-item[href] {
  color: var(--color-primary);
}

.list-item[href]:hover .list-item-title {
  color: var(--link-hover-color);
}

/* ::::: Page: Individual Add-on ::::: */

#addon {
  flex-direction: column;
}

#addon-summary > .addon-name {
  font-size: 3em;
}

#addon-summary > .addon-author {
  font-size: 1.5em;
}

#addon-summary > .addon-author a {
  text-decoration: none;
}

#addon-summary > .addon-description {
  margin: 12px 0;
}

/* ::::: Mobile View ::::: */

@media screen and (max-width: 768px) {
  .box-inner {
    margin: 8px;
  }
  
  .search-header,
  .list-wrapper:not(:last-child) {
    margin-bottom: 8px;
  }

  #page-header {
    padding-top: 0;
  }

  #page-header-inner {
    padding-top: 6px;
    margin-bottom: 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  #page-header-search {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  #page-header-search > #q {
    width: 75vw;
  }
  
  .list-item[href] .button {
    display: none;
  }
}